@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
header{
    position: sticky;
    top: 0;
    right: 0;
    z-index: 9;
    box-shadow: 0 10px 25px -22px black;
    z-index: 10;
}

.container-contenido{
    margin: 10px 40px;
}

.barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    background-color: #ececee;
    font-family: "Roboto", sans-serif;
}

/* buscador */

.bi-search{
    cursor: pointer;
}

#contenedor-busqueda {
    position: fixed;
    top: -10px;
    width: 100%;
    background: #ffffff;
    padding: 20px;
    z-index: 9;
    transition: all 500ms;
}

#contenedor-busqueda.visible{
    top: 87px;
}

#contenedor-busqueda input {
    display: block;
    padding: 7px;
    width: 70%;
    box-shadow: 0 10px 25px -22px black;
    margin-left: 9.5%;
    z-index: 9;
}

#sugestiones {
    display: none;
    position: fixed;
    list-style-type: none;
    top: 160px;
    margin-left: 10%;
    width: 70.3%;
    background: #ffffff;
    z-index: 8;
    overflow: hidden;
}

#sugestiones li a {
    display: block;
    width: 100%; 
    color: #777777;
    padding: 12px 20px;
    text-decoration: none;
}

#sugestiones li a:hover {
    background: #f3f3f3;
}

#sugestiones li a i {
    margin-right: 10px;
    color: #777777;
}

#cover-busqueda {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 7;
}

#cover-busqueda.visible{
    opacity: 1;
    visibility: visible;
}

/*fin buscador*/

.logo{
    max-width: 200px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.nav-menu ul li a{
    text-decoration: none;
    color: black;
}

.btVolver{
    display: none;
}

.abrir-menu, .cerrar-menu, .buscarMovil{
    display: none;
}

.container-Titulos a{
    display: none;
}



hr{
    width: 100%;
}

.informacion{
    padding-left: 40px;
    padding-top: 40px;
}

.informacion li{
    list-style: none;
}

.perfilIMG{
    width: 60px;
}

.seccionUsuario{
    width: 100%;
}

.container-Usuario{
    display: flex;
    justify-content: space-between;
    width: 271px;
}

.container-Usuario i {
    color: #fff700;
}

.nombre {
    width: 219.2px;
    transform: translate(101.6px, 0px);
    position: relative;
    left: -15px;
    top: -26px;
}

.chateaBt{
    padding: 10px 20px;
    background: #00D0FF;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 40px;
    transform: translateY(-70px);
}

/*INICIO WSP CLICK*/
.chateaBt {
    background-color: #25D366; 
    border: none; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    font-size: 35px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
/*FIN WSP CLICK*/

hr{
    position: absolute;
    width: 100%;
    left: 0;
}

.lineaTitulo{
    transform: translateY(-22px);
}


.star{
    width: 15px;
}

.informacion section h2{
    padding-bottom: 15px;
}

.informacion section ul{
    padding-bottom: 35px;
}

.container-Especialidades{
    padding-top: 20px;
}

.container-Experiencias{
    padding-top: 20px;
}

.container-Recomendaciones{
    padding-top: 20px;
}

.container-Recomendaciones ul li{
    color: black;
    padding-bottom: 20px;
}

.container-Comentarios{
    padding-top: 20px;
}

footer{
    margin: 20px;
    margin-top: 40px;
}


@media screen and (max-width: 710px){

    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 40px;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        color: black;
        
    }
    .cerrar-menu{
        font-size: 20px;
        color: #ffffff;
    }   

    .barra{
        position: relative;
        height: auto;
    }

    .nav-menu{
        
        opacity: 0;
        visibility: hidden;
        
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        z-index: 10;
        position: fixed;
        top: 0;
        right: -200px;
        bottom: 0;
        padding: 30px;
        background-color: #1c1c1c;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        transition: all 500ms;
    }

    .nav-menu.visible {
        opacity: 1;
        visibility: visible;
        right: 0;
    }

    .nav-menu.hidden {
        opacity: 0;
        visibility: hidden;
    }


    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-menu ul li a{
        color: #ffffff;
    }

    .btVolver{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 20px;
        padding: 8px;
    }
    .atras{
        position: fixed;
        margin: -40px 10px;
        background-color: transparent;
        border: 0;
        font-size: 40px;
        cursor: pointer;
        z-index: 8;
    }
}